<%- include('partials/header', { title: 'Início' }) %>

<div class="content text-center text-white d-flex flex-column justify-content-center align-items-center min-vh-100 position-relative" style="background-image: url('../css/images/ccfinicial.jpg'); background-size: cover; background-position: center;">

    <h1 class="welcome-text display-4 mb-2" style="color: black;">Bem-vindo ao</h1>
    <h2 class="miraira-text display-1 mb-4" style="color: #ff7300;">MiraIra - Figurinoteca</h2>

    <div class="action-buttons">
    
        <a href="/figurinos" class="btn" style="background-color: #ff7300; color: white; border: none; padding: 15px 30px; border-radius: 10px;">Ver Figurinos Disponíveis</a>
    </div>
</div>

<%- include('partials/footer') %>