<footer class="text-white mt-0" style="background-color: #db6e15; padding: 15px 0;">
    <div class="container text-center">

        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mb-2 gap-4">
            <a href="https://www.youtube.com/@GrupoMiraIra" class="text-white text-decoration-none">YouTube Miraira</a>
            <a href="https://www.digitalmundomiraira.com.br/" class="text-white text-decoration-none">Digital Mundo Miraira</a>
            <a href="https://www.instagram.com/grupomiraira/" class="text-white text-decoration-none">Instagram Miraira</a>
        </div>

        <div class="footer-info small">
            <p class="mb-1">
                Contato: 
                <a href="mailto:mirairaproducao@gmail.com" class="text-white text-decoration-underline">
                    mirairaproducao@gmail.com
                </a>
            </p>
            <p class="mb-1">Endereço: Av. XXXXXXXX, XXX - XXXX, Fortaleza, Brasil</p>
            <p class="mb-0">&copy; 2025 Comissão Cearense de Folclore.</p>
        </div>

    </div>
</footer>
